.verification__data {
    margin-bottom: 15px;
    margin-top: 5px;
}
  
  .verification__icon {
    color: #36B584FF;
    align-self: center;
}
  
  .verification__message {
    width: 460px;
    align-self: center;
}
  
  .verification__subtitle {
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}
  
  .verification__title {
    font-size: 48px;
    margin: 20px;
}
  
  .verification__wrapper {
    display: flex;   
    flex-direction: column;
    text-align: center;
}