.account-home__articles-button {
  height: 44px; 
  padding: 0 16px; 
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-trainer__button {
  width: 88px; 
  height: 44px; 
  padding: 0 16px;
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  margin: 30px 50px;
}

.header__join-us-button {
  width: 80px; 
  height: 36px; 
  padding: 0 12px; 
  font-family: Poppins;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  margin-left: 20px;
}

.home-container__button {
  height: 52px; 
  padding: 0 20px;  
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px; 
}

.join-us__button {
  width: 112px; 
  height: 52px; 
  padding: 0 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
}

.my-account__add-trainer-button {
  height: 44px; 
  padding: 0 16px; 
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
}

.my-account__change-password-button {
  height: 44px; 
  padding: 0 16px;  
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #60CFA5FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
}

.my-account__delete-profile-button {
  height: 44px; 
  padding: 0 16px; 
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #ED5D56FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  float: right;
}

.my-account__edit-profile-button {
  width: 117px; 
  height: 44px; 
  padding: 0 16px;  
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  margin-right: 20px;
}

.my-account__view-training-button {
  height: 44px; 
  padding: 0 16px;  
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
  margin: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.registration__button {
  width: 100%; 
  height: 52px; 
  padding: 0 20px;
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1;
  border: none;
  border-radius: 6px;
  margin-top: auto;
}

.signin-button {
    width: 335px; 
    height: 44px; 
    padding: 0 16px; 
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px; 
    margin-top: 15px;
    margin-bottom: 12px;
    color: #FFFFFFFF;
    background: #6355D8FF;
    opacity: 1; 
    border: none; 
    border-radius: 6px;
}

.subscribe-button {
  width: 114px; 
  height: 36px; 
  padding: 0 12px; 
  align-items: center; 
  justify-content: center; 
  font-family: Poppins;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #FFFFFFFF;
  background: #6355D8FF;
  opacity: 1; 
  border: none; 
  border-radius: 0px 6px 6px 0px;
}