.join-us__image {
  max-height: 300px; 
  border-radius: 0px 12px 12px 0px; 
  margin-left: auto;
}

.join-us__info {
    padding: 0px 0px 10px 50px;
    width: 50%;
}

.join-us__subtitle {
  font-family: Poppins;
  font-size: 15px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #171A1FFF;
}

.join-us__title {
    font-family: Montserrat;
    font-size: 40px; 
    font-weight: 700; 
    line-height: 68px; 
    color: #171A1FFF;
    margin-bottom: 0px;
}

.join-us-box__root {
  width: 90%; 
  height: 300px; 
  margin: 2% 5%;
  background: #FAFAFBFF;
  border-radius: 12px; 
  display: flex;
}