.my-profile__image {
  width: 160px; 
  height: 160px; 
  opacity: 1; 
  overflow: hidden; 
  border-radius: 8px;
}

.my-profile__img-status {
    display: flex;
    padding-bottom: 20px;
}

.my-profile__info-label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700; 
  line-height: 26px;
}

.my-profile__info-text {
    font-family: Poppins;
    font-size: 12px; 
    font-weight: 400; 
    line-height: 20px;
    margin: 0px;
}

.my-profile__status {
    display: flex;
    flex-direction: column;
    padding-left: 44px;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px;
}

.my-profile__status--check {
    color: #60CFA5FF;
    margin-top: 5px;
    display: flex;
}

.my-profile__title {
  font-family: Montserrat;
  font-size: 32px; 
  font-weight: 700; 
  line-height: 48px; 
  color: #171A1FFF;
}

.my-profile__user-info {
    padding-left: 16px; 
    padding-bottom: 5px;
}
