.account-home__box-list {
    display: flex;
    justify-content: space-evenly;
}

.account-home__subtitle {
  width: 590px; 
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #9095A0FF;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.account-home__title {
  font-family: Montserrat;
  font-size: 48px; 
  font-weight: 700; 
  line-height: 68px; 
  color: #171A1FFF;
  text-align: center;
  margin-bottom: 0px;
}