.header-logo {
      height: 48px;
      left: 21px; 
      position: absolute; 
      top: 8px; 
      width: 131px; 
}

.header__nav-list { 
    width: 217px; 
    height: 64px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-family: Poppins;
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px; 
    opacity: 1; 
    color: #565E6CFF;
    padding-left: 200px;
}

.header-root {
    background: #FFFFFFFF;
    border-color: #DEE1E6FF;
    border-radius: 6px;
    border-style: solid; 
    border-width: 1px; 
    height: 64px; 
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.header__signin-joinus {
    display: flex;
    align-items: center;
}

.header__sign-in-text {
  font-family: Poppins;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #6355D8FF; 
  text-decoration: none;
}