.my-account__button-group {
    padding: 20px 80px;
}

.my-account__header-title {
  font-family: Montserrat;
  font-size: 32px; 
  font-weight: 700; 
  line-height: 48px; 
  color: #171A1FFF;
}

.my-account__profile-table {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}

.my-account__table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 428px;
}

.my-account__table-section {
    width: 50%;
}

.my-account__trainings-subtitle {
  width: 882px; 
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #171A1FFF;
  text-align: center;
  margin: auto;
}

.my-account__trainings-title {
  font-family: Montserrat;
  font-size: 56px; 
  font-weight: 700; 
  line-height: 78px; 
  color: #171A1FFF;
  text-align: center;
}