.footer__copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer__logo {
    width: 131px; 
    height: 48px; 
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.footer__nav-list {
    padding: 0px 10px;
}

.footer__privacy {
    margin: auto;
}

.footer__root {
    display: flex; 
    flex-direction: column;
    top: 964px; 
    left: 0px; 
    height: 280px; 
    background: #FAFAFBFF;
    border-radius: 0px; 
    padding: 60px 60px 0px 60px;
}

.nav-list__title {
  font-family: Montserrat;
  font-size: 20px; 
  font-weight: 700; 
  line-height: 30px; 
  color: #171A1FFF;
}

.social-media__icon {
  width: 24px; 
  height: 24px; 
  color: #6355D8FF;
  padding-right: 20px;
}
.subscribe-icon {
    color: #171A1FFF;
    margin-left: 10px;
}

.subscribe__input {
    opacity: 1; 
    width: 270px; 
    height: 36px; 
    padding-right: 12px; 
    font-family: Poppins;
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px; 
    background: #00000000;
    border-radius: 6px 0px 0px 6px;
    border-width: 1px; 
    border-color: #9095A0FF;
    outline: none;
    border-style: solid;
}

.subscription__subtitle {
  font-family: Poppins;
  font-size: 12px; 
  font-weight: 400; 
  line-height: 20px; 
  color: #424955FF;
}

.subscription__title {
  font-family: Montserrat;
  font-size: 20px; 
  font-weight: 700; 
  line-height: 30px; 
  color: #6355D8FF;
  margin-bottom: -10px;
}