.page__subtitle {
  width: 780px; 
  font-family: Poppins;
  font-size: 20px; 
  font-weight: 400; 
  line-height: 30px; 
  color: #9095A0FF;
  text-align: center;
  margin: auto;
}

.page__title {
  font-family: Montserrat;
  font-size: 56px; 
  font-weight: 700; 
  line-height: 78px; 
  color: #171A1FFF;
  text-align: center;
}