.alternate-question-text {
    font-family: Poppins;
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px; 
    color: #171A1FFF;
}

.input__items label {
    float: left;
    font-family: Poppins;
    font-size: 12px; 
    font-weight: 700; 
    line-height: 20px;
    margin-left: 18px;
    float: left;
}

.login-icon{
    color: #171A1FFF;
    margin-left: 10px;
}

.login-input {
    background: #F3F4F6FF;
    border-radius: 6px;
    border-width: 0px;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 400; 
    height: 44px;
    line-height: 26px;
    opacity: 1;  
    outline: none;
    margin-bottom: 20px;
    width: 335px;
}

.login-root {
    margin: auto;
    padding-top: 80px;
    text-align: center;
    width: 30%;
}

.or-text {
    font-family: Poppins;
    font-size: 12px; 
    font-weight: 700; 
    line-height: 20px; 
    color: #6E7787FF;
}

.recaptcha {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.signin__subtext {
    color: #565E6CFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.signin__text {
    color: #171A1FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px; 
    font-weight: 700;
    line-height: 48px; 
    margin-bottom: -20px;
}

.signup-link {
    color: #6355D8FF;
    font-weight: 700; 
    text-decoration: none;
}