.add-trainer__all-trainers-table-section {
    width: 50%;
}

.add-trainer__header-title {
  font-family: Montserrat;
  font-size: 32px; 
  font-weight: 700; 
  line-height: 48px; 
  color: #171A1FFF;
}

.add-trainer__small-print {
  width: 616px; 
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #171A1FFF;
  padding-left: 50px;
}

.add-trainer__tables {
    display: flex;
    padding: 0px 50px;
}