.breadcrumb__root {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.crumbLink {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #6355D8FF;
}

.current-crumb {
  font-family: Montserrat;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #171A1FFF;
  padding-left: 5px;
}