.box__additional-info {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.box__date {
  font-family: Poppins;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #9095A0FF;
}

.box__duration {
  width: 88px; 
  height: 28px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  font-family: Poppins;
  font-size: 12px; 
  font-weight: 400; 
  line-height: 20px; 
  opacity: 1; 
  border-radius: 14px; 
  color: #323842FF;
  background: #CFD2DAFF;
  padding-left: 13px; 
}

.box__image {
    width: 376px; 
    height: 256px; 
    border-radius: 12px 12px 0px 0px;
}

.box__root {
    display: flex;
    flex-direction: column;
    width: 376px; 
    height: 410px; 
    background: #FFFFFFFF;
    border-radius: 8px;
    border-width: 1px; 
    border-color: #BCC1CAFF;
    border-style: solid; 
}

.box__tag {
  font-family: Poppins;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: #6355D8FF;
  margin-bottom: -20px;
}

.box__title {
  font-family: Montserrat;
  font-size: 24px; 
  font-weight: 700; 
  line-height: 36px; 
  color: #171A1FFF;
  width: 328px;
  margin-bottom: -15px; 
}

.box__text {
    padding-left: 15px;
}