.home__container-subtitle {
    width: 510px; 
    font-family: Poppins;
    font-size: 18px; 
    font-weight: 400; 
    line-height: 28px; 
    color: #171A1FFF;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 30px;
}

.home__container-title {
  font-family: Montserrat;
  font-size: 48px; 
  font-weight: 700; 
  line-height: 68px; 
  color: #6355D8FF;
  padding-top: 50px;
}

.home__join-us-container {
    width: 1176px; 
    height: 384px; 
    background: #FAFAFBFF;
    border-radius: 6px; 
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.home__video {
    display: block;
    margin: auto;
    padding: 50px 0px;
}