.registration__content {
  display: flex;
  justify-content: space-between;
}

.registration__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.registration__image {
  width: 451px; 
  height: 625px; 
  border-radius: 12px;
}

.registration__input {
  opacity: 1; 
  width: 100%; 
  height: 52px; 
  padding-left: 20px; 
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  background: #FFFFFFFF;
  border-radius: 6px;
  border-width: 1px; 
  border-color: #9095A0FF;
  outline: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.registration__input--error {
  opacity: 1; 
  width: 100%; 
  height: 52px; 
  padding-left: 20px; 
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  background: #FFFFFFFF;
  border-radius: 6px;
  border-width: 1px; 
  border-color: rgb(241, 36, 8);
  outline: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.registration__label {
  font-size: 14px; 
  font-weight: 700; 
  line-height: 22px;
}

.registration__role {
  margin: 5px 0px;
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #9095A0FF;
}

.registration__root {
  padding: 40px 60px;
}

.registration__select {
  opacity: 1; 
  width: 100%;
  height: 52px; 
  font-family: Poppins;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #171A1FFF;
  background: #FFFFFFFF;
  border-radius: 6px;
  border-width: 1px; 
  border-color: #9095A0FF;
  outline: none;
  box-sizing: border-box;
}

.registration__title {
  font-family: Montserrat;
  font-size: 48px; 
  font-weight: 700; 
  line-height: 68px; 
  color: #171A1FFF;
  margin: 0px;
}
